<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commonMapper">
	
	<!-- (공용) navbar에 상품 카테고리 가져오기 -->
	<select id="selectProductCategoryList" resultType="com.bitc.zero.dto.CategoryDto">
		<![CDATA[
			SELECT
				product_category_pk, product_category_name
			FROM
				product_category
		]]>
	</select>
	
	<!-- (공용) 세션에 로그인된 이메일 이용하여 고객 정보 불러오기 -->
	<select id="selectCustomerInfo" parameterType="String" resultType="com.bitc.zero.dto.JoinDto">
		<![CDATA[
			SELECT
				customer_pk, customer_name, customer_phone, customer_addr
			FROM
				customers
			WHERE
				customer_email = #{customerEmail}
		]]>
	</select>
	
</mapper>






















