<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPageMapper">
	
	
	<select id="selectCustomerInfo" resultType="int">
	<!--myPageMapper.selectCustomerInfoList-->
		SELECT customer_pk
		FROM customers
		WHERE customer_email = #{customerEmail}
	</select>
	
	<!--mypageList-->
    <select id="getMypageInfoList" parameterType="int" resultType="com.bitc.zero.dto.MyPageDto">
    <!--myPageMapper.getMypageInfo-->
        SELECT od.order_detail_pk, o.order_date, p.product_name, p.product_price, od.order_cnt, (p.product_price * od.order_cnt) as total_price FROM orders_detail od
        JOIN orders o
        ON od.order_pk = o.order_pk        
        JOIN product p
        ON p.product_pk = od.product_pk
        WHERE o.customer_pk=#{customerPk}
            
    </select>
	
	<select id="productReview" resultType="com.bitc.zero.dto.ReviewDto">
		<![CDATA[ 
			SELECT 
				c.customer_name, pr.product_review_contents, pr.product_review_score
			FROM 
				product_review pr
			JOIN 
				customers c
			ON 
				pr.customer_pk = c.customer_pk; 
		]]>
	</select>
	
	<insert id="insertProductReview" parameterType="com.bitc.zero.dto.ReviewDto" useGeneratedKeys="true" keyProperty="productReviewPk">
		<!-- myPageMapper.insertProductReview -->
		<![CDATA[ 
			INSERT INTO 
				product_review (order_detail_pk, customer_pk, product_review_contents, product_review_score)
			VALUE
				(#{orderDetailPk}, #{customerPk}, #{productReviewContents}, #{productReviewScore})
			]]>
	</insert>
	
	<insert id="postProductReviewImg" parameterType="com.bitc.zero.dto.TFileDto">
		<![CDATA[
			INSERT INTO t_file
				(board_idx, original_file_name, stored_file_path, 
				file_size, create_id, create_datetime)
			VALUES
		]]> 
		
		<foreach collection="list" item="file" separator=",">
			(
				#{file.boardIdx},
				#{file.originalFileName},
				#{file.storedFilePath},
				#{file.fileSize},
				'test',
				NOW()
			)
		</foreach>
	</insert>
	
</mapper>






















