<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ideaMapper">

	<!-- 커뮤니티 전체 목록 -->
	<select id="selectIdeaList" resultType="com.bitc.zero.dto.BoardDto">
		<![CDATA[ 
			SELECT 
				board_pk, board_title, customer_name
			FROM 
				board b
			JOIN 
				board_category bc
			JOIN
				customers c
			ON 
				b.board_category_pk = bc.board_category_pk
			AND
				b.create_id = c.customer_pk
			AND
				b.board_category_pk = 2
			AND
				b.deleted_yn = 'N'
		]]>
	</select>
	
	<!-- 커뮤니티 상세 페이지 -->
	<select id="selectIdeaDetail" parameterType="int" resultType="com.bitc.zero.dto.BoardDto">
		<![CDATA[ 
			SELECT 
				board_pk, board_title, board_contents, customer_name, create_id
			FROM 
				board b
			JOIN
				customers c
			ON
				b.create_id = c.customer_pk
			AND
				b.board_pk = #{boardPk}
			AND
				b.deleted_yn = 'N'
		]]>
	</select>
	
	<!-- 보드 카테고리 불러오기 -->
	<select id="selectBoardCategoryList" parameterType="int" resultType="com.bitc.zero.dto.CategoryDto">
		<![CDATA[ 
			SELECT
				board_category_pk, board_category_name
			FROM
				board_category
			WHERE
				board_category_pk = #{boardCategoryPk}
		]]>
	</select>
	
	<!-- 커뮤니티 글 삽입 -->
	<insert id="insertIdeaWrite" parameterType="com.bitc.zero.dto.BoardDto" useGeneratedKeys="true" keyProperty="boardPk">
		<![CDATA[ 
			INSERT INTO 
				board (board_category_pk, board_pk, board_title, board_contents, create_id, create_datetime)
			VALUE
				(2, #{boardPk}, #{boardTitle}, #{boardContents}, #{createId}, NOW())
		]]>
	</insert>
	
	<!-- 커뮤니티 글 내부 파일 삽입 -->
	<insert id="insertIdeaFile" parameterType="com.bitc.zero.dto.TFileDto">
		<![CDATA[
			INSERT INTO t_file
				(board_idx, original_file_name, stored_file_path, 
				file_size, create_id, create_datetime)
			VALUES
		]]> 
		
		<foreach collection="list" item="file" separator=",">
			(
				#{file.boardIdx},
				#{file.originalFileName},
				#{file.storedFilePath},
				#{file.fileSize},
				'test',
				NOW()
			)
		</foreach>
	</insert>
	
	<!-- 보드 상세 글 파일 조회 -->
	<select id="zeroFileInformation" parameterType="map" resultType="com.bitc.zero.dto.TFileDto">
		<![CDATA[
			SELECT 
		    	original_file_name, stored_file_path, file_size
			FROM
			    t_file
			WHERE
			    idx = #{idx}
			AND 
				board_idx = #{boardIdx}
			AND
				deleted_yn = 'N'
		]]>
	</select>
	
	<!-- 커뮤니티 글 수정 -->
	<update id="ideaUpdate" parameterType="com.bitc.zero.dto.BoardDto">
		<![CDATA[ 
			UPDATE
            	board
         	SET
            	board_title = #{boardTitle}, board_contents = #{boardContents}
         	WHERE
            	board_pk = #{boardPk}
		]]>
	</update>
	
	<!-- 커뮤니티 글 삭제 -->
	<update id="ideaDelete" parameterType="int">
		<![CDATA[ 
			UPDATE
            	board
         	SET
            	deleted_yn = 'Y'
         	WHERE
            	board_pk = #{boardPk}
		]]>
	</update>
	
</mapper>






















