<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
	<!-- 공지사항 -->
	<!-- 공지사항 전체 목록 -->
	<select id="selectNoticeList" resultType="com.bitc.zero.dto.BoardDto">
		<![CDATA[ 
			SELECT 
				board_pk, board_title, customer_name
			FROM 
				board b
			JOIN 
				board_category bc
			JOIN
				customers c
			ON 
				b.board_category_pk = bc.board_category_pk
			AND
				b.create_id = c.customer_pk
			AND
				b.board_category_pk = 1
			AND
				b.deleted_yn = 'N'
		]]>
	</select>
	
	<!-- 공지사항 상세 페이지 -->
	<select id="selectNoticeDetail" parameterType="int" resultType="com.bitc.zero.dto.BoardDto">
		<![CDATA[ 
			SELECT 
				board_pk, board_title, board_contents, customer_name
			FROM 
				board b
			JOIN
				customers c
			ON
				b.create_id = c.customer_pk
			AND
				b.board_pk = #{boardPk}
			AND
				b.deleted_yn = 'N'
		]]>
	</select>
	
	<!-- 공지사항 글 삽입 -->
	<insert id="insertNoticeWrite" parameterType="com.bitc.zero.dto.BoardDto" useGeneratedKeys="true" keyProperty="boardPk">
		<![CDATA[ 
			INSERT INTO 
				board (board_category_pk, board_pk, board_title, board_contents, create_id, create_datetime)
			VALUE
				(1, #{boardPk}, #{boardTitle}, #{boardContents}, #{createId}, NOW())
		]]>
	</insert>
	
	<!-- 공지사항 글 내부 파일 삽입 -->
	<insert id="insertNoticeFile" parameterType="com.bitc.zero.dto.TFileDto">
		<![CDATA[
			INSERT INTO t_file
				(board_idx, original_file_name, stored_file_path, 
				file_size, create_id, create_datetime)
			VALUES
		]]> 
		
		<foreach collection="list" item="file" separator=",">
			(
				#{file.boardIdx},
				#{file.originalFileName},
				#{file.storedFilePath},
				#{file.fileSize},
				'test',
				NOW()
			)
		</foreach>
	</insert>
	
		<!-- 공지사항 글 수정 -->
	<update id="noticeUpdate" parameterType="com.bitc.zero.dto.BoardDto">
		<![CDATA[ 
			UPDATE
            	board
         	SET
            	board_title = #{boardTitle}, board_contents = #{boardContents}
         	WHERE
            	board_pk = #{boardPk}
		]]>
	</update>
	
	<!-- 공지사항 글 삭제 -->
	<update id="noticeDelete" parameterType="int">
		<![CDATA[ 
			UPDATE
            	board
         	SET
            	deleted_yn = 'Y'
         	WHERE
            	board_pk = #{boardPk}
		]]>
	</update>
</mapper>






















